{% extends 'item/base.html' %}
{% block content %}
{% load static %}

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="{% url 'index' %}"><i class="fa fa-home"></i> Home</a>
                        <span>Shopping cart</span>
                    </div>
                    
                </div> {% if messages %} 
                <div class="col-lg-12">

                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                       
                        {% for message in messages %}
                        {{ message }}
                        {% endfor %}
                       
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                </div> {% endif %}
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Shop Cart Section Begin -->
 
    <section class="shop-cart spad">
        <div class="container">
            {% if not cart_items %}
            <div class="row">
                <div class="col-lg-12  justify-content-center">
                    <img src="{% static 'image/empty-cart.png' %}">
                    <h2>Your Cart feels so light..</h2><br><br><br>
                    <a style="font-size:20px; color: rgba(219, 31, 31, 0.815);font-weight: 700; " href="{% url 'shop' %}">Start Shopping</a>
              
                </div></div>
            
            
            {% else %}
            <div class="row">
                <div class="col-lg-12">
                    <div class="shop__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody> {% for cart_item in cart_items %}
                                <tr>
                                    <td class="cart__product__item">
                                        <img style="width:10%;height:8%" src="{{cart_item.product.image.url}}" alt="">
                                        <div class="cart__product__item__title">
                                            <a href="{{ cart_item.product.get_url }}"><h6>{{cart_item.product.brand}}</h6></a>
                                            <div class="rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div><div><p>
                                            {% if cart_item.variations.all %}
                                                {% for item in cart_item.variations.all %}
                                                   {{item.variation_category | capfirst}}:{{item.variation_value | capfirst}}<br>
                                                {% endfor %}
                                            {% endif %}</p></div>
                                        </div>
                                    </td>
                                    <td class="cart__price">₹ {{cart_item.product.price}}</td>
                                    <td class="cart__quantity">
                                            <div>
                                                <form action="{% url 'add_cart' cart_item.product.id %}" method="POST">
                                                    {% csrf_token %}
                                                    {% for item in cart_item.variations.all %}
                                                    <input type="hidden" name="{{ item.variation_category }}" value="{{ item.variation_value }}" >
                                                    {% endfor %}
                                                    <button class="btn btn-light" type="submit" >+</button>
                                                </form>
                                                <input style="border: none;" type="text" value="{{cart_item.quantity}}">                                            
                                            </div>
                                            <a href="{% url 'remove_cart' cart_item.product.id cart_item.id %}"  class="btn btn-light">-</a>
                                        </div>
                                       
                                    </td>
                                    <td class="cart__total">₹ {{cart_item.sub_total}}</td>
                                    <td class="cart__close"><a style="color:rgb(48, 47, 47);" href="{% url 'remove_cart_item' cart_item.product.id  cart_item.id %}" onclick="return confirm('Are You Sure?')" class="fa-solid fa-xmark"></a></td>
                                </tr> {% endfor %}
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="cart__btn">
                        <a href="{% url 'shop' %}">Continue Shopping</a>
                    </div>
                    
                </div>
                <!-- <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="cart__btn update__btn">
                        <a href="#"><span class="icon_loading"></span> Update cart</a>
                    </div>
                </div> -->
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="discount__content">
                        <!-- <h6>Discount codes</h6> -->
                        <div class="cart__total__procced">
                            <h6>Discount codes</h6>
                            <ul>
                                {% for c in coupon %}
                              <li style="font-weight: lighter;" ><span style="color:rgb(202, 21, 21);font-weight: 600;" >{{ c.coupon_code }} </span>for orders above Rs.{{ c.active_from }}</li>
                             {% if grand_total >= c.active_from %}
                             <p>(eligible on your order)</p>
                            
                             {% endif %}
                                {% endfor %}
                            </ul>
                           
                           
                      
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 offset-lg-2">
                    <div class="cart__total__procced">
                        <h6>Cart total</h6>
                        <ul>
                            <li>Subtotal <span>₹ {{total}}</span></li>
                            <li>Tax <span>₹ {{tax}}</span></li>                           
                            <li>Total  <span>₹ {{ grand_total }}</span></li>
                          
                        </ul>
                       
                        <a href="{% url 'checkout' %}" class=" primary-btn" >Proceed to checkout</a>
                  
                    </div>
                </div>
            </div>{% endif %}
        </div>
    </section>
    <!-- Shop Cart Section End -->

    

{% endblock %}