{% extends 'item/base.html' %}
{% block content %}
{% load static %}

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="{% url 'index' %}"><i class="fa fa-home"></i> Home</a>
                        <span>Shopping cart</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Checkout Section Begin -->

   
        <!-- <div class="form-check">
           <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="b">
           <label class="form-check-label" for="exampleRadios2">
           B
           </label>
        </div>
        <div class="form-check">
           <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="c">
           <label class="form-check-label" for="exampleRadios3">
           C
           </label>
        </div>
        <div class="form-check">
           <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios4" value="d">
           <label class="form-check-label" for="exampleRadios4">
           D
           </label>
        </div> -->
    
    <section class="checkout spad">
        <div class="container">
            <!-- <div class="row">
                <div class="col-lg-12">
                    <h6 class="coupon__link"><span class="icon_tag_alt"></span> <a href="#">Have a coupon?</a> Click
                    here to enter your code.</h6>
                </div>
            </div> -->
            <form action="" method="POST" class="checkout__form" >
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-8">
                        <h5>Billing detail</h5>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6" >
                                <div  class="checkout__form__input validate-input" >
                                    <p>First Name <span>*</span></p>
                                    <input name="first_name" type="text" required>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="checkout__form__input validate-input">
                                    <p>Last Name <span>*</span></p>
                                    <input name="last_name"  type="text" required>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div  class="checkout__form__input validate-input">
                                    <p>Phone <span>*</span></p>
                                    <input name="phone" type="text" required>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div  class="checkout__form__input " validate-input >
                                    <p>Email <span>*</span></p>
                                    <input name="email" type="email" required>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div  class="checkout__form__input validate-input">
                                    <p>Address first line <span>*</span></p>
                                    <input name="address_line_1" type="text" required>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div  class="checkout__form__input validate-input">
                                    <p>Address second line <span>*</span></p>
                                    <input name="address_line_2" type="text" required>
                                </div>
                            </div>
                           
                             <div class="col-lg-12">
                                <div class="checkout__form__input validate-input">
                                    <p>Country <span>*</span></p>
                                    <input name="country" type="text" required>
                                </div>
                                <div class="checkout__form__input validate-input">
                                    <p>State <span>*</span></p>
                                    <input name="state" type="text">
                                </div>
                              
                                <div class="checkout__form__input validate-input">
                                    <p>City <span>*</span></p>
                                    <input name="city"  type="text" required>
                                </div>
                                
                               
                                <div  class="checkout__form__input validate-input">
                                    <p>Postcode/Zip <span>*</span></p>
                                    <input name="pincode" type="text" required>
                                </div>

                                <!-- <div name="type" class="checkout__form__input">
                                    <p>type <span>*</span></p>
                                    <input type="text">
                                </div> -->
                            </div>
                           
                           
                          
                        <div class="col-lg-12"> <br><br>
                        <button type="submit" class="site-btn">Save Address</button> 
            </form>

                                <div class="checkout__form__checkbox">
                                  
                                    </div>
                                   
                                </div>
                            </div> 
                        </div>
                        <div class="col-lg-4">
                            <div class="discount__content">
                                <h6>Discount codes</h6>
                                <form action="" method="POST">
                                    {% csrf_token %}
                                    <input type="text" name="coupon"  placeholder="Enter your coupon code">
                                    <button type="submit" class="site-btn">Apply</button>
                                </form>
                            </div>
                            <br><br>
       
  
                      
                              <form method="POST" action="{% url 'place_order' %}">
                            {% csrf_token %}
                            <div class="container">
                                <strong>Select an Address</strong><br><br> 
                                
                                {% if messages %}
                                {% for message in messages %}
                                {{ message }}
                                {% endfor %}
                                {% endif %}
                                
                                {% for x in address %}
                                <div class="form-check">
                                   <input class="form-check-input" type="radio" name="address" id="exampleRadios1" value="{{x.id}}" checked>
                                   <label class="form-check-label" for="exampleRadios1">
                                   {{x.first_name}} {{x.last_name}} <a href="{% url 'delete_address' x.id %}"> <i style="margin-inline-end: 2px; color: rgb(184, 8, 8);" class="fa fa-trash-o"></i></a>
                                   <p>{{x.address_line_1}},{{x.address_line_2}}, <br>{{x.city}},{{x.state}},<br> {{x.pincode}} </p>
                                  
                                   
                                   </label>
                            </div> {% endfor %}
                         
                            
                            <div class="checkout__order">
                                

                                <h5>Your order</h5>
                                <div class="checkout__order__product">
                                    <ul>
                                        <li>
                                            <span class="top__text">Product</span>
                                            <span class="top__text__right">Total</span>
                                        </li>{% for item in cart_items %}
                                        <li>{{ item.product.brand }}  {{ item.product.subcategory.name }}<span>₹ {{ item.sub_total }}</span></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="checkout__order__total">
                                    <ul>
                                        <li style="font-weight: lighter;" >Tax <span>₹ {{tax}}</span></li>
                                        <li>Subtotal <span>₹ {{grand_total_without}}</span></li>
                                        
                                        {% if discount_available %}
                                        <li>Discount <span>₹ {{discount_available}}</span></li>
                                        
                                        <li>Total <span>₹ {{grand_total}}</span></li>{% else %}
                                        <li>Total <span>₹ {{grand_total_without}}</span></li>
                                        {% endif %}

                                    </ul>
                                </div>
                                <!-- <div class="checkout__order__widget">
                                    <label for="o-acc">
                                        Create an acount?
                                        <input type="checkbox" id="o-acc">
                                        <span class="checkmark"></span>
                                    </label>
                                    <p>Create am acount by entering the information below. If you are a returing customer
                                    login at the top of the page.</p>
                                    <label for="check-payment">
                                        Cheque payment
                                        <input type="checkbox" id="check-payment">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label for="paypal">
                                        PayPal
                                        <input type="checkbox" id="paypal">
                                        <span class="checkmark"></span>
                                    </label>
                                </div> -->
                                <button type="submit" class="site-btn">Place oder</button>
                            </div>
                        </div> </form>
                    </div> 
                 
            </div>
        </section>
        <!-- Checkout Section End -->

      
{% endblock %}