<!-- {% if request.GET.command == 'verification' %}
Thankyou for registering with us. To complete the verification process, please check the email we have sent to {{ request.GET.email }}
<br><br>
Already verified? <a href="{% url 'login' %}">Login</a>
{% else %} -->

<form action="" method="POST">
    {% csrf_token %}
<input type="email" placeholder="email" name="email" ><br>
<!-- <input type="password" placeholder="password" name="password" ><br> -->
<a href="{% url 'login' %}">Got password? Login</a>
<button type="submit">Submit</button>
</form>
{% if messages %}
{% for message in messages %}
{{ message }}
{% endfor %}
{% endif %}

<!-- {% endif %} -->