<!-- {% if request.GET.command == 'verification' %}
Thankyou for registering with us. To complete the verification process, please check the email we have sent to {{ request.GET.email }}
<br><br>
Already verified? <a href="{% url 'login' %}">Login</a>
{% else %} -->

<form action="{% url 'resetpassword' %}" method="POST">
    {% csrf_token %}
<input type="password" placeholder="Create Password" name="password" ><br>
<input type="password" placeholder="Confirm password" name="confirm_password" ><br>
<button type="submit">Reset Password</button>

</form>
{% if messages %}
{% for message in messages %}
{{ message }}
{% endfor %}
{% endif %}

<!-- {% endif %} -->