{% extends 'item/base.html' %}
{% block content %}
{% load static %}

<div class="container">
    <div class="row">
        <div class="col-lg-6 mt-5">
            <h5>About Us</h5><hr>
           <p > &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp If you would like to experience the best of online shopping for men and women  in India, you are at the right place. SaveBox is the ultimate destination for fashion and lifestyle, being host to a wide array of merchandise of clothing. It is time to redefine your style statement with our treasure-trove of trendy items. Our online store brings you the latest in designer products straight out of fashion houses. You can shop online at SaveBox from the comfort of your home and get your favourites delivered right to your doorstep.</p>
            <p>For more informations drop a mail to <span style="font-weight: bold;" > edjango276@gmail.com</span> </p>
        
        </div>
        <div class="col-lg-6 mt-5">
            <h5 class="ml-2">Office Location</h5><hr>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3914.483567621404!2d75.89121731464252!3d11.151787492067468!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba6513d6a79ea8f%3A0xca7fe369546aec60!2sBrototype!5e0!3m2!1sen!2sin!4v1655965533885!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            
        </div>
    </div>
</div>

{% endblock %}