{% extends 'item/base.html' %}
{% block content %}
{% load static %}
    <!-- Categories Section Begin -->
    <section class="categories">
        <div class="container-fluid">
            <div class="row">
                
                <div class="col-lg-6 p-0">
                    <div class="categories__item categories__large__item set-bg"
                    data-setbg="{% static 'image/women.jpg' %}">
                    <div class="categories__text">
                        <h1>Women’s fashion</h1>
                        <p>When it comes to women, shopping is more than just a therapy. We believe that it is a joyous activity where you get to choose a whole new lifestyle.</p>
                        <a href="{% url 'women' %}">Shop now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 p-0">
                <div class="categories__item categories__large__item set-bg"
                data-setbg="{% static 'image/men.jpg' %}">
                <div class="categories__text">
                    <h1>Men’s fashion</h1>
                    <p>The finest of material, superior design and unbeatable style go into the making of our men’s shopping collection. </p>
                    <a href="{% url 'men' %}">Shop now</a>
                </div>
            </div>
        </div>
        
        </div>
    </div>
</section>
<!-- Categories Section End -->

<!-- Product Section Begin -->


<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="section-title">
                    <h4>New Products</h4>
                </div>
            </div>
            <!-- <div class="col-lg-8 col-md-8">
                <ul class="filter__controls">
                    <li class="active" data-filter="*">All</li>
                    <li data-filter=".women">Women’s</li>
                    <li data-filter=".men">Men’s</li>
                    <li data-filter=".kid">Kid’s</li>
                    <li data-filter=".accessories">Accessories</li>
                    <li data-filter=".cosmetic">Cosmetics</li>
                </ul>
            </div> -->
        </div>
        <div class="row property__gallery">
            {% for p in product %}            
            <div class="col-lg-3 col-md-4 col-sm-6 mix women">
                <div class="product__item">
                  <div class="product__item__pic set-bg" data-setbg=" {{p.image.url }}">
                     <!-- <a href="{{p.get_url}}"> <img src={{p.image.url}}></a> -->
                        <div class="label new">New</div>
                        <ul class="product__hover">
                            <li><a href="{{ p.image.url }}" class="image-popup"><i class="fa-solid fa-up-right-and-down-left-from-center"></i></a></li>                            
                            <li><a href="{% url 'wish' p.id %}"><i class="fa-solid fa-heart"></i></a></li>
                            <li><a href="{{ p.get_url }}"><i class="fa-solid fa-cart-shopping"></i></a></li>
                           
                        </ul>          
                    </div>
                    <div class="product__item__text">
                        <h6><a href="{{p.get_url}}">{{ p.brand }}</a></h6>
                        <!-- <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i> 
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div> -->
                        <div class="product__price">₹{{p.price}}</div>
                    </div>
                </div>
            </div>{% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Section End -->

<!-- Banner Section Begin -->

<section class="banner set-bg" data-setbg="{% static 'image/banner-1.jpg' %}">
    <div class="container">
        <div class="row">
            
            <div class="col-xl-7 col-lg-8 m-auto">
                <div class="banner__slider owl-carousel">{% for car in carousal %}
                    <div class="banner__item">
                        <div class="banner__text">
                            <span>Shop by category</span>
                            <h1>{{ car.name }}</h1>
                            <a href="{{ car.get_url }}">Shop now</a>
                        </div>
                    </div>{% endfor %}
                  
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner Section End -->

<!-- Trend Section Begin -->
<section class="trend spad">
    <div class="container">
        <div class="row">{% for sec in section %}            
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="trend__content">
                    <div class="section-title">
                        <h4>{{sec.name}}</h4>
                    </div>
                    {% for x in sec.item_set.all %}
                    <div class="trend__item">
                        <div class="trend__item__pic">
                            <img style="width : 90px;height:90 px;" src="{{ x.image.url }}" alt="">
                        </div>
                        <div class="trend__item__text">
                            <h6><a style="color:black" href="{{x.get_url}}">{{ x.brand }}</a></h6>
                            <!-- <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div> -->
                            <div class="product__price">₹{{ x.price }}</div>
                        </div>
                    </div>{% endfor %}
                    
                </div>
            </div>{% endfor %}
           
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Trend Section End -->

<!-- Discount Section Begin -->
<section class="discount">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 p-0">
                <div class="discount__pic">
                    <img src="{% static 'image/discount.jpg' %}" alt="">
                </div>
            </div>
            <div class="col-lg-6 p-0">
                <div class="discount__text">
                    <div class="discount__text__title">
                        <span>Discount</span>
                        <h2>Summer 2019</h2>
                        <h5><span>Sale</span> 50%</h5>
                    </div>
                    <div class="discount__countdown" id="countdown-time">
                        <div class="countdown__item">
                            <span>22</span>
                            <p>Days</p>
                        </div>
                        <div class="countdown__item">
                            <span>18</span>
                            <p>Hour</p>
                        </div>
                        <div class="countdown__item">
                            <span>46</span>
                            <p>Min</p>
                        </div>
                        <div class="countdown__item">
                            <span>05</span>
                            <p>Sec</p>
                        </div>
                    </div>
                    <a href="{% url 'shop' %}">Shop now</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Discount Section End -->


{% endblock %}