{% extends 'item/base.html' %}
{% block content %}
{% load static %}

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="{% url 'index' %}"><i class="fa fa-home"></i> Home</a>
                        <a href="#">{{single_product.gender}}'S </a>
                        <span>{{single_product.subcategory}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Product Details Section Begin -->
    <section class="product-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="product__details__pic">
                        <div class="product__details__pic__left product__thumb nice-scroll">
                            <a class="pt active" href="#product-1">
                                <img src="{{single_product.image.url}}" alt="">
                            </a>
                            <a class="pt" href="#product-2">
                                {% if single_product.image2 %}
                                <img src="{{single_product.image2.url}}" alt="">
                                {% endif %}
                            </a>
                            
                            <a class="pt" href="#product-3">
                                {% if single_product.image3 %}
                                <img src="{{single_product.image3.url}}" alt="">
                                {% endif %}
                            </a>
                            
                            <a class="pt" href="#product-4">
                                {% if single_product.image4 %}
                                <img src="{{single_product.image4.url}}" alt="">
                                {% endif %}
                            </a>
                        </div>
                        <div class="product__details__slider__content">
                            <div class="product__details__pic__slider owl-carousel">
                                <img data-hash="product-1" class="product__big__img" src="{{single_product.image.url}}" alt="">
                                {% if single_product.image2 %}
                                <img data-hash="product-2" class="product__big__img" src="{{single_product.image2.url}}" alt="">
                                {% endif %}
                                {% if single_product.image3 %}
                                <img data-hash="product-3" class="product__big__img" src="{{single_product.image3.url}}" alt="">
                                {% endif %}
                                {% if single_product.image4 %}
                                <img data-hash="product-4" class="product__big__img" src="{{single_product.image4.url}}" alt="">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">

                    <form action="{% url 'add_cart' single_product.id %}" method="POST">
                        {% csrf_token %}
                    <div class="product__details__text">
                        <h3>{{single_product.brand}}<span>{{single_product.description}}</span></h3>
                      
                        <div class="rating">{% if rating >= 1 %}
                            <i class="fa fa-star"></i> {% endif %}
                            {% if rating >= 2 %}
                            <i class="fa fa-star"></i>{% endif %}
                            {% if rating >= 3 %}
                            <i class="fa fa-star"></i>{% endif %}
                            {% if rating >= 4 %}
                            <i class="fa fa-star"></i>{% endif %}
                            {% if rating >= 5 %}
                            <i class="fa fa-star"></i>{% endif %}
                            {% if rating %}
                            <span>( {{rating}}/5 )</span>{% endif %}
                        </div>
                        <div class="product__details__price"> ₹ {{single_product.price}} </div>
                        <!-- <p>Nemo enim ipsam voluptatem quia aspernatur aut odit aut loret fugit, sed quia consequuntur
                        magni lores eos qui ratione voluptatem sequi nesciunt.</p> -->
                        <div class="product__details__button"> <form action="">
                            {% if single_product.stock <= 0 %}
                            <h6 style="margin:12px; color: #ca1515;font-weight:600" >Out of Stock</h6>
                           
                            {% else %}
                            <button type="submit" class="cart-btn"><i class="fa-solid fa-cart-shopping"></i> Add to cart</button>
                            <ul>
                                <li><a style="color: #ca1515 ;border:solid #ca1515" href="{% url 'wish' single_product.id %}"><i class="fa-solid fa-heart"></i></a></li>
                                <!-- <li><a href="#"><span class="icon_adjust-horiz"></span></a></li> -->
                            </ul>{% endif %}
                        </div>
                        <div class="product__details__widget">
                            <ul>
                                <li>
                                    <span>Availability:</span>
                                    {% if single_product.stock > 0 %}
                                        <label for="stockin">
                                            In Stock
                                                                                     
                                        </label>
                                        {% else %}
                                        <label for="stockin">
                                            Out of Stock
                                                                                     
                                        </label>
                                        {% endif %}
                                </li>
                                <li> {% if single_product.variation_set.colors %}
                                    <span>Available color:</span>
                                    <div class="color__checkbox" >
                                        {% for i in single_product.variation_set.colors %}
                                        <label for="{{i.variation_value}}">                                         
                                            <input required  type="radio" value="{{i.variation_value | lower }}" name="color" id="{{i.variation_value}}" ><br>{{i.variation_value | capfirst }}
                                            <span class="checkmark"></span>
                                        </label>
                                        {% endfor %}
                                      
                                    </div>{% endif %}
                                </li>
                                <li>{% if single_product.variation_set.sizes %}
                                    <span>Available size:</span>
                                    <div class="size__btn">
                                        {% for i in single_product.variation_set.sizes %}   
                                        <label for="{{i.variation_value}}" >
                                            <input required type="radio" value="{{i.variation_value | lower}}" name="size" id="{{i.variation_value}}">
                                            {{i.variation_value | capfirst}}
                                        </label>{% endfor %}
                                       
                                    </div>{% endif %}  
                                </li> </form>
                                <li>
                                    <span>Promotions:</span>
                                    <p>Free shipping</p>
                                </li>
                            </ul>
                        </div>
                    </div></form>

                </div>
                <div class="col-lg-12">
                    <div class="product__details__tab">
                        <ul class="nav nav-tabs" role="tablist">
                           
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab">View all reviews ({{a}}) </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            
                            <div class="tab-pane" id="tabs-3" role="tabpanel">
                               
                               
                                   <div class="row">
                                    <div style="float:left" class="col-lg-12">
                                        {% if review %}
                                        {% for x in review %}
                                        
                                        <h6>{{x.review}}</h6>
                                        {% if x.image %}
                                        <img style="width:4vw;height: 5vw;" src="{{x.image.url}}" >
                                        <a href="{{ x.image.url }}" class="image-popup"><i class="fa-solid fa-up-right-and-down-left-from-center"></i></a>
                                        {% endif %} <br><br>
                                        
                                        <div style="color:gold ;" class="rating">
                                            {% if x.rating >= 1 %}
                                            <i  class="fa fa-star"></i>{% endif %}
                                            {% if x.rating >= 2 %}
                                            <i class="fa fa-star"></i>{% endif %}
                                            {% if x.rating >= 3 %}
                                            <i class="fa fa-star"></i>{% endif %}
                                            {% if x.rating >= 4 %}
                                            <i class="fa fa-star"></i>{% endif %}
                                            {% if x.rating >= 5 %}
                                            <i class="fa fa-star"></i>{% endif %}
                                            {% if x.rating %}
                                            <span style="color:black">( {{ x.rating }}/5)</span> {% endif %}
                                        </div>
                                        <p>{{x.user.first_name | capfirst}} {{x.user.last_name | capfirst}} | {{x.created_date.date}}</p><hr>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                   </div>
               
                             
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="related__title">
                        <h5>RELATED PRODUCTS</h5>
                    </div>
                </div>
                {% for p in related_product %}
                <div class="col-lg-3 col-md-4 col-sm-6"> 
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="{{p.image.url}}">
                           
                            <ul class="product__hover">
                                <li><a href="{{ p.image.url }}" class="image-popup"><i class="fa-solid fa-up-right-and-down-left-from-center"></i></a></li>
                                <li><a href="{% url 'wish' p.id %}"><i class="fa-solid fa-heart"></i></a></li>
                                <li><a href="{{ p.get_url }}"><i class="fa-solid fa-cart-shopping"></i></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="{{ p.get_url }}">{{p.brand}}</a></h6>
                        
                            <div class="product__price">₹ {{p.price}}</div>
                        </div>
                    </div>
              
            </div>{% endfor %}
        </div>
    </section>
    <!-- Product Details Section End -->


 {% endblock %}