{% extends 'item/base.html' %}
{% block content %}
{% load static %}

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="./index.html"><i class="fa fa-home"></i> Home</a>
                        <span>Shop</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->
  
   
    <section class="shop spad">
        <div class="container">
            <div class="row">
                 <!-- Shop Section Begin -->
   
                <div class="col-lg-3 col-md-3">
                    <div class="shop__sidebar">
                        <div class="sidebar__categories">
                            <div class="section-title">
                                <h4>Categories</h4>
                            </div>
                            <div class="categories__accordion">
                                <div class="accordion" id="accordionExample">
                                    <div class="card">
                                        <div class="card-heading active">
                                            <a data-toggle="collapse" data-target="#collapseOne">Women</a>
                                        </div> 
                                        <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                            <div class="card-body">
                                               
                                                <!-- <li><a href="{% url 'shop' %}">All Products</a></li> -->
                                                <ul> 

                                                    {% if not categories %}
                                                    {% for x in s_links %} {% if x in women %}
                                                    <li><a href="{{ x.get_url }}">{{ x.name }}</a></li> {% endif %}
                                                    {% endfor %}
                                                    {% endif %}
                                                    
                                                    {% for x in s_links %}
                                                    {% if x.category == categories %}
                                                     {% if x in women %}
                                                    <li><a href="{{ x.get_url }}">{{ x.name }}</a></li>
                                                    {% endif %}
                                                    {% endif %}
                                                    {% endfor %}

                                                   
                                                    <!-- <li><a href="#">Jackets</a></li>
                                                    <li><a href="#">Dresses</a></li>
                                                    <li><a href="#">Shirts</a></li>
                                                    <li><a href="#">T-shirts</a></li>
                                                    <li><a href="#">Jeans</a></li> -->
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-heading">
                                            <a data-toggle="collapse" data-target="#collapseTwo">Men</a>
                                        </div>
                                        <div id="collapseTwo" class="collapse" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <ul>
                                                    {% if not categories %}
                                                    {% for x in s_links %} {% if x in men %}
                                                    <li><a href="{{ x.get_url }}">{{ x.name }}</a></li> {% endif %}
                                                    {% endfor %}
                                                    {% endif %}
                                                    
                                                    {% for x in s_links %}{% if x.category == categories %} {% if x in men %}
                                                    <li><a href="{{ x.get_url }}">{{ x.name }}</a></li>{% endif %}{% endif %}{% endfor %}
                                                    <!-- <li><a href="#">Jackets</a></li>
                                                    <li><a href="#">Dresses</a></li>
                                                    <li><a href="#">Shirts</a></li>
                                                    <li><a href="#">T-shirts</a></li>
                                                    <li><a href="#">Jeans</a></li> -->
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                        <div class="sidebar__filter">
                            <div class="section-title">
                                <h4>Shop by price</h4>
                            </div>
                            <div class="filter-range-wrap">
                                <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
                                data-min="33" data-max="99"></div>
                                <div class="range-slider">
                                    <div class="price-input">
                                        <p>Price:</p>
                                        <input type="text" id="minamount">
                                        <input type="text" id="maxamount">
                                    </div>
                                </div>
                            </div>
                            <a href="#">Filter</a>
                        </div>
                        <div class="sidebar__sizes">
                            <div class="section-title">
                                <h4>Shop by size</h4>
                            </div>
                            <div class="size__list">
                                <label for="xxs">
                                    xxs
                                    <input type="checkbox" id="xxs">
                                    <span class="checkmark"></span>
                                </label>
                                <label for="xs">
                                    xs
                                    <input type="checkbox" id="xs">
                                    <span class="checkmark"></span>
                                </label>
                                <label for="xss">
                                    xs-s
                                    <input type="checkbox" id="xss">
                                    <span class="checkmark"></span>
                                </label>
                                <label for="s">
                                    s
                                    <input type="checkbox" id="s">
                                    <span class="checkmark"></span>
                                </label>
                                <label for="m">
                                    m
                                    <input type="checkbox" id="m">
                                    <span class="checkmark"></span>
                                </label>
                                <label for="ml">
                                    m-l
                                    <input type="checkbox" id="ml">
                                    <span class="checkmark"></span>
                                </label>
                                <label for="l">
                                    l
                                    <input type="checkbox" id="l">
                                    <span class="checkmark"></span>
                                </label>
                                <label for="xl">
                                    xl
                                    <input type="checkbox" id="xl">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                        <div class="sidebar__color">
                            <div class="section-title">
                                <h4>Shop by size</h4>
                            </div>
                            <div class="size__list color__list">
                                <label for="black">
                                    Blacks
                                    <input type="checkbox" id="black">
                                    <span class="checkmark"></span>
                                </label>
                                <label for="whites">
                                    Whites
                                    <input type="checkbox" id="whites">
                                    <span class="checkmark"></span>
                                </label>
                                <label for="reds">
                                    Reds
                                    <input type="checkbox" id="reds">
                                    <span class="checkmark"></span>
                                </label>
                                <label for="greys">
                                    Greys
                                    <input type="checkbox" id="greys">
                                    <span class="checkmark"></span>
                                </label>
                                <label for="blues">
                                    Blues
                                    <input type="checkbox" id="blues">
                                    <span class="checkmark"></span>
                                </label>
                                <label for="beige">
                                    Beige Tones
                                    <input type="checkbox" id="beige">
                                    <span class="checkmark"></span>
                                </label>
                                <label for="greens">
                                    Greens
                                    <input type="checkbox" id="greens">
                                    <span class="checkmark"></span>
                                </label>
                                <label for="yellows">
                                    Yellows
                                    <input type="checkbox" id="yellows">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9">
                                      
                                         
                                       
                      
                    <div class="row">{% for pro in wishproduct %}
                       
                        <div class="col-lg-4 col-md-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="{{ pro.product.image.url }}">
                                    <div class="label new">New</div>
                                    <ul class="product__hover">
                                        <li><a href="{{ pro.product.image.url }}" class="image-popup"><span class="arrow_expand"></span></a></li>
                                        <li><a href="{% url 'remove_wish' pro.id %} "><span class="icon_trash_alt"></span></a></li>
                                        <li><a href="{{ pro.product.get_url }}"><span class="icon_bag_alt"></span></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="{{ pro.product.get_url }}">{{ pro.product.brand }}</a></h6>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div class="product__price">₹{{ pro.product.price }}</div>
                                </div>
                            </div>
                        </div>{%  endfor %}                      
                      
                     
                    </div>
                    {% if products.has_other_pages %}
                     <div class="pagination">
                         {% if products.has_previous %}
                        <a style="margin-left: 270px;font-size: 20px;	max-width: 100%;color:black; font-weight: 500;"  href="?page={{products.previous_page_number}}">&laquo;</a>
                        {% else %}
                        <a style="margin-left: 270px;font-size: 20px;	max-width: 100%;color:rgb(163, 159, 159); font-weight: 500;cursor: default;"  href="#">&laquo;</a>
                        {% endif %}
                        {% for i in products.paginator.page_range %}
                        {% if products.number == i %}
                        <a  style="margin-left: 30px;font-size: 20px;	max-width: 100%;color:black; font-weight: 500;"  href="#">{{i}}</a>
                        {% else %}
                        <a  style="margin-left: 30px;font-size: 20px;	max-width: 100%;color:black; font-weight: 500;"  href="?page={{i}}">{{i}}</a>
                        {% endif %}
                        {% endfor %}
                        {% if products.has_next %}
                        <a  style="margin-left: 30px;font-size: 20px;	max-width: 100%;color:black; font-weight: 500;"  href="?page={{products.next_page_number}}">&raquo;</a>
                        {% else %}
                        <a style="margin-left: 30px;font-size: 20px;	max-width: 100%;color:rgb(163, 159, 159); font-weight: 500; cursor: default;"  href="#">&raquo;</a>
                        {% endif %}
                    </div>
                      {% endif %}
                </div>
              
            </div>
        </div>
    </section>
    <!-- Shop Section End -->

  

 {% endblock %}