{% extends 'item/base.html' %}
{% block content %}
{% load static %}

<div class="container">
    <div class="row">
        <div class="col-lg-8 mt-5"> 
        
            <div class="checkout__order">
                <h5>Your order</h5>
                <div class="checkout__order__product">
                    <ul>
                        <li>
                            <span class="top__text">Product</span>
                            <span class="top__text__right">Total</span>
                        </li>{% for item in cart_items %}
                        <li>{{ item.product.brand }}  {{ item.product.subcategory.name }} x {{item.quantity}}<span>₹ {{ item.sub_total }}</span></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="checkout__order__total">
                    <ul>
                        <!-- <li>Subtotal <span>₹ {{total}}</span></li>
                        <li>Tax <span>₹ {{tax}}</span></li> -->
                        <li>Amount to Pay <span>₹ {{display}}</span></li>
                    </ul>
                </div>

                

                <div class="checkout__order__widget">
                    <!-- <label for="o-acc">
                        Create an acount?
                        <input type="checkbox" id="o-acc">
                        <span class="checkmark"></span>
                    </label>
                    <p>Create am acount by entering the information below. If you are a returing customer
                    login at the top of the page.</p> -->
                    <!-- <label for="check-payment">
                        Cheque payment
                        <input type="checkbox" id="check-payment">
                        <span class="checkmark"></span>
                    </label>
                    <label for="paypal">
                        PayPal
                        <input type="checkbox" id="paypal">
                        <span class="checkmark"></span>
                    </label> -->
                </div>
              
                {% if paym %}
                <form action="{% url 'payment_status' %}" method="POST">
                    <div class="form-check ">
                        <label class="form-check-label" for="check1">
                          <input type="checkbox" class="form-check-input" id="check1" name="option1" value="something"  required>I agree to RazorPay <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwiylvrk5sD4AhUVNaYKHTa4CGYQFnoECAQQAQ&url=https%3A%2F%2Frazorpay.com%2Fterms%2F&usg=AOvVaw2ndzd4rd0amlKDnKbAubW6">Terms and Conditions</a>   and <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwjMnaTS5sD4AhXNBaYKHeFaBkUQFnoECBQQAQ&url=https%3A%2F%2Frazorpay.com%2Fprivacy%2F&usg=AOvVaw3zuCZtgrPIdN4ddLyJEhC1">Privacy Policy</a> 
                        </label>
                      </div>
                      <br>
                     {% csrf_token %} 
                     <script    src="https://checkout.razorpay.com/v1/checkout.js"    data-key="rzp_test_efcfepUZ9n5uwO" // Enter the Test API Key ID generated from Dashboard → Settings → API Keys    data-amount="{{paym.amount}}" // Amount is in currency subunits. Hence, 29935 refers to 29935 paise or ₹299.35.    data-currency="{{paym.currency}}"//You can accept international payments by changing the currency code. Contact our Support Team to enable International for your account    data-order_id="{{paym.id}}"//Replace with the order_id generated by you in the backend.    data-buttontext="Pay with Razorpay"    data-name="kelly"    data-description="Feel the comfort, Shop with us!!"    data-image="https://example.com/your_logo.jpg"    data-prefill.name="{{user.user.first_name}}"    data-prefill.email="you@example.com"    data-theme.color="#F37254"></script><input type="hidden" custom="Hidden Element" name="hidden"></form>
                {% endif %}
            </div>
        </div>
        </div> 
       


    </div>


</div>

{% endblock %}